<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<nav th:insert="layout::nav"></nav>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Descripcion</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="lista :${listaEstado}">
      <th scope="row">1</th>
      <td th:text="${lista.idestado}"></td>
      <td th:text="${lista.descestado}"></td>
    </tr>
  </tbody>
</table>
</body>
</html>